body {
background-color: aliceblue;
}

.breadcrumb-item {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 174, 255);
    cursor: pointer;
    color: rgb(0, 174, 255);
    font-weight: bolder;
}

.breadcrumb-item:hover {
    border-color: rgb(0, 81, 118);
    color: rgb(0, 81, 118);
}
.activeX {
    border: none !important;
    color: #000;
}

.paddingD {
    padding: 0.5rem 0.8rem;
}

.activeX:hover {
    color: #000;
}

#validationFeedback{
    display: none;
}

.tableLight {
    font-size: 18px;
    background-color: #fff;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
}

.cardNoShadow {
    box-shadow: none;
    border-radius: 0;
}